In [2]:
age = 14
is_married = False
name = 'bob'
value = 1.323

In [3]:
x = 4400 ** 10
print(x)

2719736093841817600000000000000000000

In [1]:
from math import pi
r = float(input ("input the radius of the circle : "))
print ("the area of the circle with radius " + str(r) + " is: " + str (pi * r**2))

the area of the circle with radius 5.0 is: 78.53981633974483

In [7]:
name = "bruce wayne 01"
colour = 'yellow'
institute = 'digipodium'

In [8]:
is_coding = True
is_fun = True
are_u_bored = False

In [9]:
x = None

In [10]:
a = [5,10,15,20,25,30,35,40]

In [11]:
colours = (1,2.2,'python')

In [12]:
vals = {1,2.2,'python'}

In [6]:
car_info = {
"brand": "ford",
"model": "mustang",
"year": 1964
}

In [15]:
2**3+5/3

9.666666666666666

In [16]:
(3+2) * (5*3) / (3*5)

5.0

In [18]:
a = 100
a += 15
a -= 10
print(a)

105

In [1]:
x = 2500
y = 2500
z = x+y
print(z)

5000

In [4]:
a = 100
a += 15
a -= 10
print(a)

105

In [6]:
a *= 10
print(a)

10500

In [7]:
a %= 5
print(a)

0

In [9]:
print(x<y)

False

In [10]:
print(x<y)

False

In [11]:
x = 300
y = 200

In [12]:
print(x<y)

False

In [13]:
print(x>y)

True

In [15]:
print(x == 300)

True

In [19]:
print(x != 100)

True

In [21]:
print('hello' == 'hellow')
print('hi' == "hi")
print("this" == 'that')

False
True
False

In [10]:
x = 100
x += 15
x -= 10
y = 200

In [8]:
print(x)

105

In [11]:
print(x + y)

305

In [12]:
print(x - y)

-95

In [13]:
print(x * y)

21000

In [14]:
print(x / y)

0.525

In [15]:
print(x // y)

0

In [16]:
print(x % y)

105

In [17]:
print(x ** y)

172925808151599859948476232811067730715844959588243056466416220477924998300047723238199846993466153370674209081200957457828261815837224537300659463659501765155921049541751583426642827088377597667696737412460826682165446890215421420458489511180952466752058386000693717360408991566406650964861375071808563356083806211251379880580703310570464738850211906772883670700170777312365544275962747633457183837890625

In [18]:
print(x > y)

False

In [19]:
print(x < y)

True

In [20]:
print(x != y)

True

In [21]:
((x + y) / (x - y))

-3.210526315789474

In [31]:
from math import pi
r = float(input ("input the radius of the circle : "))
print ("the area of the circle with radius " + str(r) + " is: " + str (pi * r**2) + " cm ")

the area of the circle with radius 5.0 is: 78.53981633974483 cm

In [23]:
import cmath
b = float(input ("input the value of b : "))
a = float(input("input the value of a : "))
c = float(input("input the value of c : "))
print("shridhacharya is equal to " + str(x) + " is :" +  str ((b**2) - (4*a*c)))

shridhacharya is equal to [3, 4, 3, 4, 5, 6, 7, 8, 77, 99, 44, 66] is :-76.0

In [1]:
a = 15
b = 20

In [2]:
a > 10 and b > a

True

In [3]:
a <10 or b > 10

True

In [4]:
not a

False

In [5]:
bool(100)

True

In [6]:
bool(0)

False

In [7]:
bool(-90)

True

In [10]:
name = input("enter name :")
bool(name)

False

membership operator in

In [11]:
x = [3,4,3,4,5,6,7,8,77,99,44,66]

In [12]:
77 in x

True

In [13]:
33 in x

False

user input and output

In [14]:
int(10.111)

10

In [16]:
int(True)

1

In [17]:
int(False)

0

In [18]:
float(10.111)

10.111

In [20]:
int('hello')

ValueError: invalid literal for int() with base 10: 'hello'

In [21]:
str(100)

'100'

int()
float()
str()
list()
tuple()
bool()
set()
dict()

In [22]:
p = int(input('principle amount'))
r = float(input('rate of int'))
t = int(input('time in years'))
si = p*r*t/100
print(si)

2500.0

In [27]:
from math import pi
d = float(input ("input the diameter of the circle : "))
print ("the area of the circle with diameter " + str(d) + " is: " + str (pi * (d/2)**2) + " cm ")
print ("the circumference of the circle with diameter " + str(d) + " is: " + str (2 * pi * (d/2)) + " cm ")

the area of the circle with diameter 10.0 is: 78.53981633974483 cm
the circumference of the circle with diameter 10.0 is: 31.41592653589793 cm

In [28]:
y = input ('your name')
x = int(input('how many badges'))
print(f'{y} got {x} badges')

samit got 5 badges

In [1]:
d = float(input ("input the diameter of the circle :"))
e = float(3.14*(d/2)**2)

In [5]:
print(f'area of circle is {e}')

area of circle is 78.5