# data structure

###### list[]
###### dictinery{}
###### tupple()
###### set{}

# list

###### ordered
###### mutable
###### index
###### heterogenous 
###### [] symbols list
###### they are iterable

In [ ]:
# what you need to learn
 # creating
 #indexing
 # methods(11)

In [13]:
a = [] # empty list

b = [1,2,3,4,5,67,2]# list of integers

c = ['apple','banana','orange']# list of strings

d = [[1,2,3],[4,5,6],[7,8,9]]# list of lists(nested list)

e = ['apple',20,False,'mango',50.5,True] # mixed list

In [3]:
word = ' the lost metal'
char = list(word)
print(char)

[' ', 't', 'h', 'e', ' ', 'l', 'o', 's', 't', ' ', 'm', 'e', 't', 'a', 'l']

In [6]:
f = [1,2,3] * 5 #repeat list 5 times
print(f)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [14]:
name = input("enter your name:")
a.append(name)

In [15]:
print(name)

sam

In [2]:
movies = ['stardust','the fault in our stars','mi1','mi2','mi3','mi4','mi5','mi6','kgf1','kgf2','bahubali1','bahubali2','harrypotter','superman','rrr']
len(movies)

15

In [17]:
movies[9]

'kgf2'

In [18]:
movies[0]

'stardust'

In [20]:
movies[4] = 'joker'

In [21]:
print(movies)

['stardust', 'the fault in our stars', 'mi1', 'mi2', 'joker', 'mi4', 'mi5', 'mi6', 'kgf1', 'kgf2', 'bahubali1', 'bahubali2', 'harrypotter', 'superman', 'rrr']

In [23]:
movies[:-3]

['stardust',
 'the fault in our stars',
 'mi1',
 'mi2',
 'joker',
 'mi4',
 'mi5',
 'mi6',
 'kgf1',
 'kgf2',
 'bahubali1',
 'bahubali2']

In [27]:
# first five movies
# last five movies
# all movies except first 3 and last 3
# all movies in reverse order

In [28]:
movies[0:5]

['stardust', 'the fault in our stars', 'mi1', 'mi2', 'joker']

In [30]:
movies[-15:-10]

['stardust', 'the fault in our stars', 'mi1', 'mi2', 'joker']

In [31]:
movies[2:-3]

['mi1',
 'mi2',
 'joker',
 'mi4',
 'mi5',
 'mi6',
 'kgf1',
 'kgf2',
 'bahubali1',
 'bahubali2']

In [1]:
movies[::-1]

NameError: name 'movies' is not defined

In [3]:
print(movies)

['stardust', 'the fault in our stars', 'mi1', 'mi2', 'mi3', 'mi4', 'mi5', 'mi6', 'kgf1', 'kgf2', 'bahubali1', 'bahubali2', 'harrypotter', 'superman', 'rrr']

In [4]:
movies.append('the matrix')

In [5]:
print(movies)

['stardust', 'the fault in our stars', 'mi1', 'mi2', 'mi3', 'mi4', 'mi5', 'mi6', 'kgf1', 'kgf2', 'bahubali1', 'bahubali2', 'harrypotter', 'superman', 'rrr', 'the matrix']

In [16]:
for i in range (3):
    name = input("enter movie name")
    movies.append(name)

In [7]:
print(movies)

['stardust', 'the fault in our stars', 'mi1', 'mi2', 'mi3', 'mi4', 'mi5', 'mi6', 'kgf1', 'kgf2', 'bahubali1', 'bahubali2', 'harrypotter', 'superman', 'rrr', 'the matrix', 'enter movie name', 'enter movie name', 'enter movie name']

In [9]:
movies.index('kgf1')

8

In [11]:
movies.insert(8,'krish3')
print(movies)

['stardust', 'the fault in our stars', 'mi1', 'mi2', 'mi3', 'mi4', 'mi5', 'mi6', 'krish3', 'kgf1', 'kgf2', 'bahubali1', 'bahubali2', 'harrypotter', 'superman', 'rrr', 'the matrix', 'enter movie name', 'enter movie name', 'enter movie name', 'enter movie name', 'enter movie name', 'enter movie name']

In [12]:
movies[-5] ='krish3: reloaded'
print(movies)

['stardust', 'the fault in our stars', 'mi1', 'mi2', 'mi3', 'mi4', 'mi5', 'mi6', 'krish3', 'kgf1', 'kgf2', 'bahubali1', 'bahubali2', 'harrypotter', 'superman', 'rrr', 'the matrix', 'enter movie name', 'krish3: reloaded', 'enter movie name', 'enter movie name', 'enter movie name', 'enter movie name']

In [14]:
movies.remove('krish3')
print(movies)

['stardust', 'the fault in our stars', 'mi1', 'mi2', 'mi3', 'mi4', 'mi5', 'mi6', 'kgf1', 'kgf2', 'bahubali1', 'bahubali2', 'harrypotter', 'superman', 'rrr', 'the matrix', 'enter movie name', 'krish3: reloaded', 'enter movie name', 'enter movie name', 'enter movie name', 'enter movie name']

In [17]:
print(movies)

['stardust', 'the fault in our stars', 'mi1', 'mi2', 'mi3', 'mi4', 'mi5', 'mi6', 'kgf1', 'kgf2', 'bahubali1', 'bahubali2', 'harrypotter', 'superman', 'rrr', 'the matrix', 'enter movie name', 'krish3: reloaded', 'enter movie name', 'enter movie name', 'enter movie name', 'enter movie name', 'enter movie name', 'enter movie name', 'enter movie name', '', 'maajhi', 'sholay']

In [18]:
movies

['stardust',
 'the fault in our stars',
 'mi1',
 'mi2',
 'mi3',
 'mi4',
 'mi5',
 'mi6',
 'kgf1',
 'kgf2',
 'bahubali1',
 'bahubali2',
 'harrypotter',
 'superman',
 'rrr',
 'the matrix',
 'enter movie name',
 'krish3: reloaded',
 'enter movie name',
 'enter movie name',
 'enter movie name',
 'enter movie name',
 'enter movie name',
 'enter movie name',
 'enter movie name',
 '',
 'maajhi',
 'sholay']

In [19]:
movies.remove('enter movie name')

In [20]:
print(movies)

['stardust', 'the fault in our stars', 'mi1', 'mi2', 'mi3', 'mi4', 'mi5', 'mi6', 'kgf1', 'kgf2', 'bahubali1', 'bahubali2', 'harrypotter', 'superman', 'rrr', 'the matrix', 'krish3: reloaded', 'enter movie name', 'enter movie name', 'enter movie name', 'enter movie name', 'enter movie name', 'enter movie name', 'enter movie name', '', 'maajhi', 'sholay']

In [21]:
movies

['stardust',
 'the fault in our stars',
 'mi1',
 'mi2',
 'mi3',
 'mi4',
 'mi5',
 'mi6',
 'kgf1',
 'kgf2',
 'bahubali1',
 'bahubali2',
 'harrypotter',
 'superman',
 'rrr',
 'the matrix',
 'krish3: reloaded',
 'enter movie name',
 'enter movie name',
 'enter movie name',
 'enter movie name',
 'enter movie name',
 'enter movie name',
 'enter movie name',
 '',
 'maajhi',
 'sholay']

In [22]:
movies.pop(3)

'mi2'

In [24]:
movie_removed = movies.pop(5)
print(movie_removed)

mi6

# extend

In [25]:
x = [1,2,3]
y = [4,5,6]

In [26]:
x+y

[1, 2, 3, 4, 5, 6]

In [27]:

x.extend(y)
print(x)

[1, 2, 3, 4, 5, 6]

In [28]:
movies.reverse()
print(movies)

['sholay', 'maajhi', '', 'enter movie name', 'enter movie name', 'enter movie name', 'enter movie name', 'enter movie name', 'enter movie name', 'enter movie name', 'krish3: reloaded', 'the matrix', 'rrr', 'superman', 'harrypotter', 'bahubali2', 'bahubali1', 'kgf2', 'kgf1', 'mi4', 'mi3', 'mi1', 'the fault in our stars', 'stardust']

In [30]:
movies.sort(reverse=True)
print(movies)

['the matrix', 'the fault in our stars', 'superman', 'stardust', 'sholay', 'rrr', 'mi4', 'mi3', 'mi1', 'maajhi', 'krish3: reloaded', 'kgf2', 'kgf1', 'harrypotter', 'enter movie name', 'enter movie name', 'enter movie name', 'enter movie name', 'enter movie name', 'enter movie name', 'enter movie name', 'bahubali2', 'bahubali1', '']

In [31]:
movies.count('enter movie name')

7

In [32]:
z = x.copy()
print(z)

[1, 2, 3, 4, 5, 6]

In [33]:
a=z
print(a)

[1, 2, 3, 4, 5, 6]