In [6]:
import pandas as pd
import numpy as np


filepath = 'iris.data'
df = pd.read_csv(filepath)

In [7]:
df

     length  width  height  thickness     Iris-setosa
0       4.9    3.0     1.4        0.2     Iris-setosa
1       4.7    3.2     1.3        0.2     Iris-setosa
2       4.6    3.1     1.5        0.2     Iris-setosa
3       5.0    3.6     1.4        0.2     Iris-setosa
4       5.4    3.9     1.7        0.4     Iris-setosa
..      ...    ...     ...        ...             ...
144     6.7    3.0     5.2        2.3  Iris-virginica
145     6.3    2.5     5.0        1.9  Iris-virginica
146     6.5    3.0     5.2        2.0  Iris-virginica
147     6.2    3.4     5.4        2.3  Iris-virginica
148     5.9    3.0     5.1        1.8  Iris-virginica

[149 rows x 5 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   length       149 non-null    float64
 1   width        149 non-null    float64
 2   height       149 non-null    float64
 3   thickness    149 non-null    float64
 4   Iris-setosa  149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [9]:
print(df.columns.tolist())

['length', 'width', 'height', 'thickness', 'Iris-setosa']

In [11]:
def clean_length_column(length):
    if isinstance(length,str):             #check if price is string
       length = length.replace(',', '')    # removes comma
       length = length.strip()             #removes white space
       if length.isnumeric():
           length = int(length)
           return length
       if len(length) == 0:
            return np.nan
    return length

In [12]:
df['length'].apply(clean_length_column)

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: length, Length: 149, dtype: float64

In [13]:
df['cleaned length'] = df['length'].apply(clean_length_column)

In [14]:
df

     length  width  height  thickness     Iris-setosa  cleaned length
0       4.9    3.0     1.4        0.2     Iris-setosa             4.9
1       4.7    3.2     1.3        0.2     Iris-setosa             4.7
2       4.6    3.1     1.5        0.2     Iris-setosa             4.6
3       5.0    3.6     1.4        0.2     Iris-setosa             5.0
4       5.4    3.9     1.7        0.4     Iris-setosa             5.4
..      ...    ...     ...        ...             ...             ...
144     6.7    3.0     5.2        2.3  Iris-virginica             6.7
145     6.3    2.5     5.0        1.9  Iris-virginica             6.3
146     6.5    3.0     5.2        2.0  Iris-virginica             6.5
147     6.2    3.4     5.4        2.3  Iris-virginica             6.2
148     5.9    3.0     5.1        1.8  Iris-virginica             5.9

[149 rows x 6 columns]

In [15]:
def cleaned_width_column(width):
    if isinstance(width,str):
        width = width.split()[0]
        return float(width)
    return width

In [16]:
df['cleaned_width'] = df['width'].apply(cleaned_width_column)
df

,length,width,height,thickness,Iris-setosa,cleaned length,cleaned_width
0,4.9,3.0,1.4,0.2,Iris-setosa,4.9,3.0
1,4.7,3.2,1.3,0.2,Iris-setosa,4.7,3.2
2,4.6,3.1,1.5,0.2,Iris-setosa,4.6,3.1
3,5.0,3.6,1.4,0.2,Iris-setosa,5.0,3.6
4,5.4,3.9,1.7,0.4,Iris-setosa,5.4,3.9
...,...,...,...,...,...,...,...
144,6.7,3.0,5.2,2.3,Iris-virginica,6.7,3.0
145,6.3,2.5,5.0,1.9,Iris-virginica,6.3,2.5
146,6.5,3.0,5.2,2.0,Iris-virginica,6.5,3.0
147,6.2,3.4,5.4,2.3,Iris-virginica,6.2,3.4
148,5.9,3.0,5.1,1.8,Iris-virginica,5.9,3.0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   length          149 non-null    float64
 1   width           149 non-null    float64
 2   height          149 non-null    float64
 3   thickness       149 non-null    float64
 4   Iris-setosa     149 non-null    object
 5   cleaned length  149 non-null    float64
 6   cleaned_width   149 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.3+ KB

In [18]:
df.sort_values(by='cleaned_width',ascending=False, inplace=True)
df

,length,width,height,thickness,Iris-setosa,cleaned length,cleaned_width
14,5.7,4.4,1.5,0.4,Iris-setosa,5.7,4.4
32,5.5,4.2,1.4,0.2,Iris-setosa,5.5,4.2
31,5.2,4.1,1.5,0.1,Iris-setosa,5.2,4.1
13,5.8,4.0,1.2,0.2,Iris-setosa,5.8,4.0
4,5.4,3.9,1.7,0.4,Iris-setosa,5.4,3.9
...,...,...,...,...,...,...,...
52,5.5,2.3,4.0,1.3,Iris-versicolor,5.5,2.3
67,6.2,2.2,4.5,1.5,Iris-versicolor,6.2,2.2
61,6.0,2.2,4.0,1.0,Iris-versicolor,6.0,2.2
118,6.0,2.2,5.0,1.5,Iris-virginica,6.0,2.2
59,5.0,2.0,3.5,1.0,Iris-versicolor,5.0,2.0

In [20]:
df.drop(columns=['cleaned_width'], inplace=True)
df

     length  height  thickness      Iris-setosa  cleaned length
14      5.7     1.5        0.4      Iris-setosa             5.7
32      5.5     1.4        0.2      Iris-setosa             5.5
31      5.2     1.5        0.1      Iris-setosa             5.2
13      5.8     1.2        0.2      Iris-setosa             5.8
4       5.4     1.7        0.4      Iris-setosa             5.4
..      ...     ...        ...              ...             ...
52      5.5     4.0        1.3  Iris-versicolor             5.5
67      6.2     4.5        1.5  Iris-versicolor             6.2
61      6.0     4.0        1.0  Iris-versicolor             6.0
118     6.0     5.0        1.5   Iris-virginica             6.0
59      5.0     3.5        1.0  Iris-versicolor             5.0

[149 rows x 5 columns]