In [ ]:
name="vijay deenanath chauhan"
print(len(name))

In [1]:
name="vijay deenanath chauhan"
for k in name:
   if k  in 'aeiou':
    print(k)

i
a
e
e
a
a
a
u
a

In [2]:
fruits=['apple','banana','mango']
for fruit in fruits:
    print('we have ',fruit)
else:
    print('thats all')

we have  apple
we have  banana
we have  mango
thats all

In [ ]:
for num in range(10,5,-1):
    print(num)

In [ ]:

for num in range(0,15,+1):
  if num%2==0:
    print(num)

In [4]:
start=int(input('enter the start limit: '))
end=int(input('enter the end number: '))
for num in range(start,end+1):
    if num%2==0:
        print(num)

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
for num in range (50,70,+1):
  print(num)

more for loop
- enumerate()
- zip()

In [10]:
flowers=['rose','jasmine','lotue','lilly']
for i, flower in enumerate(flowers):
    print(i,flower)

0 rose
1 jasmine
2 lotue
3 lilly

In [6]:
x=[1,2,3,4,5,6]
y=[3,5,6,7,8,2]
for i,j in zip(x,y):
    print(f'({i} + {j})**2={(i+j)**2}')

(1 + 3)**2=16
(2 + 5)**2=49
(3 + 6)**2=81
(4 + 7)**2=121
(5 + 8)**2=169
(6 + 2)**2=64

break and continue

In [9]:
a = [2,3,4,5,6,7,8,9,0,0,3,6,0,9,0,4,5,1,1,1,1]
for i in a:
    if i==0: continue
    print(i, end=" ")

2 3 4 5 6 7 8 9 3 6 9 4 5 1 1 1 1

In [13]:
names = ['sam','sara','alexa','', 'john','jhonny','','zoya']
for name in names:
    if len(name)==0: break
    print(name)

sam
sara
alexa

In [19]:
for name in names:
    if len(name)==0:
        print('error: empty name found')
        break
    print(name)

sam
sara
alexa
error: empty name found